*~
/tests/python/tests.log
/tests.log
tests.log
/NeuroML2/*.dat
*_moose.py
*_nrn.py
/NeuroML2/test_files/NML2_SingleCompHHCell.nml__flattened.xml
/NeuroML2/test_files/*.dat
/NeuroML2/test_files/*.hoc
/NeuroML2/test_files/*.mod
x86_64
arm64
__pycache__
*_code.gen.*
/NeuroML2/GranuleCell/*.dat
/NeuroML2/GranuleCell/*.mod
/NeuroML2/GranuleCell/*.hoc
*_eden.py
*_netpyne.py
/NeuroML2/GranuleCell/simulator.props
/NeuroML/test_files/*.dat
